{% load static %}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Không Tìm Thấy Trang</title>
    <link rel="stylesheet" href="{% static 'css/404.css' %}">
</head>
<body>
    <div class="error-code">404</div>
    <h1 class="error-title">
        Oops... Trang không tồn tại hoặc bạn không có quyền truy cập.
    </h1>
    <p class="error-message">
        Chúng tôi không biết bạn đã đến đây như thế nào, nhưng bạn nên quay lại ngay bây giờ.
    </p>
    <!-- <p><a href="/">Quay lại trang đăng nhập</a></p> -->
    <form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
        <button type="submit" class="return-button">
            Quay lại trang đăng nhập
        </button>
    </form>

</body>
</html>